body {
background-image: url(image/desktop-background.png);}

#container {
position: relative;
width: 1054px ;
margin-left: auto ;
margin-right: auto ;}

#notebook {
position: absolute;}

#header {
position: absolute;
float: center;
margin-top: 80px;
margin-left: 202px;}

#title {
position: absolute;
float: center;
margin-top: 198px;
margin-left: 202px;}

#name {
position: absolute;
float: center;
margin-top: 170px;
margin-left: 202px;}

#content {
position: absolute;
float: center;
margin-top: 240px;
margin-left: 202px;}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(171,221,241,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(171,221,241,0.7); 
}

img.grade {
float:right;
vertical-align: center;
padding-right: 96px;}

div.leftFloat {
position: relative;
float: left;
padding-right: 16px;
z-index: 1;}

table {
border: 0px;
padding: 0px;
border-spacing: 0px;
font-family: roboto,noto,helvetica,ariel,sans-serif;
font-size: 1.2em;}

tr.rule {height: 32px;}

td.topHeader { 
color: #000F55;
font-size: 2em;
font-style: bold;
text-align: left;
vertical-align: bottom;}

td.subHeader { 
color: #757575;
font-size: 0.833em;
text-align: left;
padding-left: 0.2em;
vertical-align: top;}

td.lHeader {
height: 160px;
background-image: url(image/thole.png);
border-bottom:solid 1px #abddf1; 
border-top:solid 1px #e0e0e0; 
border-left:solid 1px #e0e0e0;}

td.rHeader {
height: 160px;
padding-left: 1em;
background-image: url(image/bpx.png);
vertical-align: bottom;
border-bottom:solid 1px #abddf1; 
border-top:solid 1px #e0e0e0; 
border-right:solid 1px #e0e0e0;
border-left:solid 1px #f9172d;}

td.lHole {
background-image: url(image/mhole.png);
border-bottom:solid 1px #abddf1;
border-left:solid 1px #e0e0e0;}

td.lBody {
background-image: url(image/bpx.png);
border-bottom:solid 1px #abddf1;
border-left:solid 1px #e0e0e0;}

td.lLink {
background-image: url(image/bpx.png);
font-size: 0.833em;
padding-left: 1em;
border-bottom:solid 1px #abddf1;
border-left:solid 1px #e0e0e0;}

a:link {
color: #000F55;
text-decoration: none;}

a:visited {
color: #000F55;
text-decoration: none;}

a:hover {
color: #000F55;
text-decoration: none;}

a:active {
color: #757575;
text-decoration: none;}

td.rBody {
background-image: url(image/bpx.png);
border-bottom:solid 1px #abddf1;
border-right:solid 1px #e0e0e0;
border-left:solid 1px #f9172d;}

td.lFooter {
background-image: url(image/bpx.png);
border-bottom:solid 1px #e0e0e0; 
border-left:solid 1px #e0e0e0;}

td.rFooter {
background-image: url(image/bpx.png);
border-bottom:solid 1px #e0e0e0;
border-right:solid 1px #e0e0e0;
border-left:solid 1px #f9172d;}

td.rTitleFloat {
background-image: url(image/tpx.png);
font-weight: bold; 
padding-left: 0em;}

td.rContentFloat {
padding-top: 16px;
height: 944px;
line-height: 1.67;
background-image: url(image/fpx.png);
padding-left: 0em;}

div.scrollable {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow: auto;}




